<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LTDataLayer.Properties.Settings.LaunchTimeDBConnectionString"
            connectionString="Data Source=|DataDirectory|\LocalDatabase\LaunchTimeDB.sdf"
            providerName="Microsoft.SqlServerCe.Client.4.0" />
    </connectionStrings>
</configuration>